<nav style="opacity:0.9;background-color:black;" class="navbar nav ">
  <a class="navbar-brand" style="color:white"><img width="50" height="50" src="../../../../assets/icon-money-1-300x300.png">Fees Collection System</a>
  <form class="form-inline">
    <button class="btn btn-1 btn-outline-danger my-2 my-sm-0" type="submit" routerLink="/login">Signin</button>
  </form>
</nav>
<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-5">
            <div class="card card0">
                <div class="card-body">
                    <div class="card-title">
                        <img style="margin-left:160px;" width="80" height="80" src="../../../../assets/icon-money-1-300x300.png">
                        <h3 style="color: white;text-align: center;margin-top:10px">REGISTER</h3>
                    </div>
                    
                    <form  [formGroup]="RegisterForm" (ngSubmit)="register()">
                
                        <div class="form-group">
                          <label style="color:white" for="exampleInputEmail1">Firstname</label>
                          <input formControlName="firstname" type="text" class="form form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="form-group">
                            <label style="color:white" for="exampleInputEmail1">Lastname</label>
                            <input formControlName="lastname" type="text" class="form form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                              <label style="color:white" for="exampleInputEmail1">Username</label>
                              <input formControlName="username" type="text" class="form form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        <div class="form-group">
                            <label style="color:white" for="exampleInputEmail1">Email address</label>
                            <input formControlName="email" type="email" class="form form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                        <div class="form-group">
                          <label style="color:white" for="exampleInputPassword1">Password</label>
                          <input formControlName="password" type="password" class=" form form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label style="color:white" for="exampleInputPassword1">ConfirmPassword</label>
                            <input formControlName="confirmPassword" type="password" class=" form form-control" id="exampleInputPassword1" placeholder="Password">
                          </div>
                          <div class="form-check">
                            <input formControlName="usertype" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="user">
                            <label class="form-check-label" for="exampleRadios1">
                              UserType
                            </label>
                          </div>
                        <!-- <p style="color:black; margin-top: 10px;">Go Back To <a routerLink="/login">Signin</a></p> -->
                        <button   [disabled]="!RegisterForm.valid" type="submit" class="btn btn-1 btn-dark btn-lg btn-block">Submit</button>
                      </form>
                </div>
              </div>
        </div>
    </div>
</div>