.card0 {
    margin-top:50px;
    opacity: 0.9;
    background-color:black;
}

.form {
    color: white;
    background-color:transparent;
}

.form-1 {
    color: black;
    background-color:transparent;
}